{% extends 'base.html' %}
{% load static %}

{% block title %}Отчеты фонда{% endblock title %}

{% block description %}Наш фонд благодарит всех откликнувшихся за посильную помощь деткам{% endblock description %}

{% block keywords %}благотворительный фонд, благодарности, отчеты{% endblock keywords %}

{% block page_id %}otchet_page{% endblock page_id %}

{% block content %}
    <section class="otchet wrapper">
        <div class="otchet_wrapper">
            <div class="otchet_head">
                <div class="news_title">
                    <h1>Отчеты</h1>
                </div>
                <div class="news_year">
                    <input type="checkbox" id="otchet_list_toggle" hidden>
                    <div class="news_toggle"><label for="otchet_list_toggle" onclick>{{ this_year }} год</label></div>
                    <div class="years_container">
                        <form action="{% url 'site:report_page_filter' %}" method="get" id="report_filter">
                            {% for report in view.get_years %}
                                <div class="year">
                                    <label class="year_label" for="{{ report.year }}">{{ report.year }}</label>
                                    <input type="radio" name="year" id="{{ report.year }}" value="{{ report.year }}" onchange="submit_form()" hidden/>
                                </div>
                            {% endfor %}
                        </form>
                    </div>
                </div>
            </div>
            <div class="list_files">
                {% if reportfilesdocuments_list %}
                    {% for doc in reportfilesdocuments_list %}
                        <div class="file">
                            <a href="{{doc.file.url}}" target="_blank">
                                <div><img src="{% static 'img/pdf-icon.png' %}" alt="pdf-icon">
                                    <span>{{ doc.file_name }}</span>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="list_files">
                {% if year_reports %}
                    {% for file in year_reports %}
                        <div class="file">
                            <a href="{{file.file.url}}" target="_blank">
                                <div><img src="{% static 'img/pdf-icon.png' %}" alt="pdf-icon">
                                    <span>{{ file.file_name }}</span>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="news-more"><a href="{% url 'site_custom:about_page' %}">Официальные документы</a></div>
        </div>
    </section>
    <script type="text/javascript">
        submit_form = function() {
            let form = document.getElementById("report_filter");
            form.submit();
        };
    </script>
{% endblock content %}

{% block scripts %} {% endblock scripts %}