
{% load static %}
<footer>
    <div class="footer wrapper">
        <div class="footer-info">
            <div class="footer-logo"><a href="{% url 'child:home_page' %}"><img src="{% static 'img/logo.png '%}" alt="logo"></a></div>
            <div class="contacts">
                <span class="phone">{{ site_settings.phone_number }}</span>
                <span class="email"><a href="mailto:{{ site_settings.email }}">{{ site_settings.email }}</a></span>
            </div>
            <div class="address">
                <span>{{ site_settings.address|safe }}</span>
            </div>
        </div>
        <div class="footer-menu">
            <a href="{% url 'site_custom:about_page' %}">О фонде</a>
            <a href="{% url 'team:team_list' %}">Команда</a>
            <a href="{% url 'child:child_list' %}">Дети</a>
            <a href="{% url 'site_custom:program_page' %}">Программы</a>
            <a href="{% url 'news:post_list' %}">Новости</a>
            <a href="{% url 'site_custom:report_page' %}">Отчеты</a>
            <a href="{% url 'news:grad_list' %}">Благодарности</a>
            <a href="{% url 'site_custom:contact_page' %}">Контакты</a>
        </div>
        <div class="footer-social">
            <a class="social_img" href="#"><img src="{% static 'img/instagram.svg'%}" alt="insta_ico"></a>
            <a class="social_img" href="#"><img src="{% static 'img/vk-social-network-logo.svg'%}" alt="vk_ico"></a>
            <a class="social_img" href="#"><img src="{% static 'img/facebook.svg'%}" alt="face_ico"></a>
            <a class="social_img" href="#"><img src="{% static 'img/youtube.svg'%}" alt="youtube_ico"></a>
            <a class="social_img" href="#"><img src="{% static 'img/telegram.svg'%}" alt="teleg_ico"></a>
        </div>
        <div class="footer-info-offerta">
            <div class="copyright"><span>© БФ им. А. Ф. Романовой, 2020</span></div>
            <div class="with-help">
                <span>При поддержке</span>
                <div class="mini-logo"><img src="{% static 'img/Image1.png'%}" alt="Альтернатива"></div>
            </div>
            <div class="offert">
                <p>Делая пожертвование, вы принимаете условия нашей <a href="
                    {% if site_settings.file_oferta %}
                    {{ site_settings.file_oferta.url }}
                    {% else %}#
                    {% endif %}" target="_blank">Оферты</a></p>
            </div>
        </div>
    </div>
</footer>