{% extends 'base.html' %}
{% load static %}

{% block title %}Заявка о помощи{% endblock title %}

{% block description %}Волонтерская программа благотворительного фонда поддержки детей имени императрицы А.Ф. Романовой {% endblock description %}

{% block keywords %}благотворительный фонд, новости, события, помощь{% endblock keywords %}

{% block page_id %}{% endblock page_id %}

{% block content %}
<section>
    <div class="main wrapper">
        <div class="succes_page">
            <h1>Ваша заявка принята</h1>
            <p>В ближайшее время мы свяжемся с Вами</p>
        </div>
    </div>
</section>
{% endblock content %}

{% block scripts %}

{% endblock scripts %}